@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-6">
    @if(@Model["listStylists"].Count == 0)
    {
      <h1>There is no one Stylist in database</h1>
    }
    else{
      @foreach(var stylist in Model["listStylists"])
      {
        <h4><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a> | <form class="inline-edit-button" action="/stylist/@stylist.GetId()/update" method="get"><input type="hidden" name="form-type" id="form-type" value="stylist-update"><button type="submit" class="btn btn-xs">[edit]</button></form></h4>
      }
    }

    <form action="/stylists/new">
      <button type="submit" class="btn btn-info">Add a new stylist</button>
      <input type="hidden" name="form-type" id="form-type" value="stylist">
    </form>
  </div>
  <div class="col-md-6">
    @if(Model["show-info"] == "stylist")
    {
      <h2>New Stylist Was just added!</h2>
      <hr>

      <h3>Name: @Model["newStylist"].GetName()</h3>
      <h3>Rating: @Model["newStylist"].GetRating()</h3>

    }
  </div>


</div>
